---
layout : default
---

<div class="page-header">
  <h1>
    {{ page.title }} 
    {{# page.tagline }}
      <small>{{ . }}</small>
    {{/ page.tagline }}
  </h1>
</div>

<div class="row">
  <div class="span9" id="article-content">
    {{{ content }}}
    <hr>
    <div class="pagination pagination-centered btn-group">
      {{# page?previous }}
        <a class="btn prev" href="{{ url }}" title="{{ title }}">&larr; Previous</a>
      {{/ page?previous }}
      {{^ page?previous }}
        <a class="btn disabled prev">&larr; Previous</a>
      {{/ page?previous }}

        <a class="btn" href="{{ site.JB.archive_path }}">Archive</a>

      {{# page?next }}
        <a class="btn next" href="{{ url }}" title="{{ title }}">Next &rarr;</a>
      {{/ page?next }}
      {{^ page?next }}
        <a class="btn next disabled">Next &rarr;</a>
      {{/ page?next }}
    </div>
    <hr>
    {{{ comments }}}
  </div>

  <div class="span3">
    <section>
      <h4>Published</h4>
      <div class="date"><span>{{ page.date }}</span></div>
    </section>

    {{# page.categories?to_categories }}
      <section>
        <h4>Categories</h4>
        <ul class="tag_box">
            {{> categories_list }}
        </ul>
      </section>
    {{/ page.categories?to_categories }}

    {{# page.tags?to_tags }}
      <section>
        <h4>Tags</h4>
        <ul class="tag_box">
            {{> tags_list }}
        </ul>
      </section>
    {{/ page.tags?to_tags }}

  </div>
</div>
